@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

  
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
    margin: 0px;
    user-select: none;
    
}


/* Navigation Bar */


.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;

}

.nav-bar a {
    color: #2C4047;
    text-decoration: None;
}

.username {
    margin: 0px;
}


/* Home Page */


.title {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.logo {
    height: 300px;
    width: 500px;
    margin: 50px;
    margin-bottom: 20px;
    border: 3px solid white;
}

.title h1 {
    margin: 0px;
}


/* About Page */


.about-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #2C4047;
    border: 3px solid white;
    border-radius: 5px;
    padding: 100px;
}

.about img {
    height: 200px;
    width: 200px;
}

.about p {
    display: flex;
    justify-content: center;    
}

.authors {
    margin-bottom: 30px;
}


/* Pages */


.search-filter-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 85, 197);
    color: white;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 0px;
}

.search form {
    display: flex;
    flex-direction: row;
}

.search input[type=text] {
    padding: 6px;
    font-size: 17px;
}

.search input[type=submit] {
    padding: 6px;
    font-size: 17px;
}

.pages {
    display: flex;
    min-height: 100vh;
    height: auto;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.user-pages {
    display: flex;
    flex-direction: column;
    background-color: #2C4047;
    border: 3px solid white;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.pages h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #2C4047;
    border: 3px solid white;
    padding: 20px;
    border-radius: 20px;
}

.pages a {
    font-size: 20px;
    padding: 10px;
    color: #f1faee;
    text-decoration: None;
    text-align: center;
}


/* Wiki User Pages */


.wiki-pages {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgb(51, 85, 197);
}

.stats {
    padding: 35px;
    border: 3px solid white;
    background-color: #2C4047;
}

.wiki-pages p {
    margin: 2px;
    font-size: 30px;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}


/* Login & Sign Up Pages */


.account {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.account h1 {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.account-window {
    background-color: #2C4047;
    padding: 70px;
    border: 3px solid white;
}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-window a {
    color: white;
}

.flash {
    padding: 15px;
    vertical-align: middle;
    border-style: solid;
    border-width: 2.5px;
    width: fit-content;
    border-radius: 8px;
    color: black;
    border-color: rgb(255, 251, 0);
    background-color: rgba(255, 254, 194, 0.801);
    position: absolute;
}


/* Upload Page */

.upload {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 85, 197);
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 600px;
}

.upload-form input {
    padding: 10px;
    margin: 10px;
}

.upload-form select {
    padding: 10px;
    margin: 10px;
}

.choose-file {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* game */


.game_background {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*stripes for background*/
    background-image: linear-gradient(12deg,     
        #ff612b 5%, #ff612b 7.69%,
        #ff5215 7.69%, #ff5215 15.38%, 
        #ff4f26 15.38%, #ff4f26 23.08%, 
        #ff320c 23.08%, #ff320c 33%, 
        #ff3720 33%, #ff3720 38.46%, 
        #ff2509 38.46%, #ff2509 42.31%, 
        #ff2b15 42.31%, #ff2b15 50%, 
        #ff1a06 50%, #ff1a06 57.69%, 
        #ff1f15 57.69%, #ff1f15 65.38%, 
        #ff1004 65.38%, #ff0f0f 73.08%, 
        #ff1b16 73.08%, #ff1b16 80%, 
        #ff1004 80%, #ff1004 90%,
        #ff1a15 90%, #ff1a15 100%);
}

.stats {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    font-family: 'Pokemon solid', sans-serif;
    border: none;
    font-size: 2em;
    color: #ffb000;
    -webkit-text-stroke: 2px #3a5da8;
    letter-spacing: 0.15em;
}

.score {
    float: right;
    padding-right:10%;
}

.rank {
    float: left;
    padding-left: 10%;
}

.pokemon_image {
    position: absolute;
    /*z-index: 3;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    filter: brightness(0%)
}

.pokemon_image.reveal {
    transition: 3s;
    filter: brightness(100%);
    animation: pulse 2s
}

.star_svg1 {
    position: absolute;
    fill: none;
    z-index: 1;
}
.star_svg2 {
    position: absolute;
    fill: none;
    z-index: 2;
}

.pokeball {
    display: block;
    width: 100%;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: .5rem;
    }
    50% {
        margin-left: -.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}

.user_guess {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;

    font-size: 4em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Pokemon Solid',sans-serif;
    color: #ffb000;
    -webkit-text-stroke: 3px #3a5da8;
    letter-spacing: 0.1em;
}

.user_guess.shake {
    animation: shake 0.3s ease-in-out 0s 2;
}

.skip {
    font-family: 'Pokemon Solid',sans-serif;
    letter-spacing: 0.1em;
    color: #ffb000;
    -webkit-text-stroke: 1px #3a5da8;
    font-size: 2em;
    transform: scale(0);
    transition: .8s ease-in;
    cursor: pointer;

}

.skip.reveal {
    transform: scale(1);
 
}

/* Leaderboard */


.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 85, 197);
    min-height: 100vh;
}

.board-name {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 25px;
}

.board-name img {
    height: 45px;
    width: 45px;
    margin-right: 20px;
    margin-left: 20px;
}

.leaderboard h1 {
    color: white;
    font-weight: 200;
    margin: 0px;
    margin-top: 5px;
    margin-right: -6px;
}

.standings {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
}

.players {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #4a9fcf;
    color: white;
    padding: 25px;
    margin: 10px;
    width: 200px;
    border-radius: 15px;
}

.players p {
    margin: 0px;    
}


/* Filtering: Checkbox */

input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid white;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 8px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.filter-options {
    display: flex;
}

.apply {
    font-size: 17px;
}

.filter-options p {
    font-size: 15px;
    text-align: center;
    margin: 0px;
    padding: 5px;
}

#type-category {
    background-color: #e63946;
}

#region-category {
    background-color: #2a9d8f;
}

#nature-category {
    background-color: #4a7c59;
}

#current_user {
    background-color: #79DE70;
}
