body {
    font-family: sans-serif;
    margin: 0px;
}

.title {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

img {
    height: 200px;
    width: 200px;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.upload-form input {
    width: 300px;
}

.upload-form input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
}

.upload-form input[type=number] {
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
}