body {
    font-family: sans-serif;
    margin: 0px;
}


/* Navigation Bar */


.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}


/* Home Page */


.title {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.logo {
    height: 300px;
    width: 500px;
    margin: 50px;
    margin-bottom: 20px;
    border: 3px solid white;
}

.title h1 {
    margin: 0px;
}


/* About Page */


.about {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.about img {
    height: 200px;
    width: 200px;
}

.about p {
    display: flex;
    justify-content: center;
}


/* Pages Page */


.pages {
    display: flex;
    height: 90vh;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(51, 85, 197);
}

.user-pages {
    display: flex;
    flex-direction: column;
}

.pages h3 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
}

.pages a {
    font-size: 20px;
    padding: 10px;
    color: #2C4047;
    text-decoration: None;
}


/* Wiki User Pages */


.wiki-pages {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgb(51, 85, 197);
}

.stats {
    padding: 20px;
    border: 3px solid white;
    background-color: #2C4047;
}

.wiki-pages p {
    margin: 2px;
    font-size: 25px;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}



/* Upload Page */


.upload-form {
    display: flex;
    flex-direction: column;
}

.upload-form input {
    width: 300px;
}

.upload-form input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
}

.upload-form input[type=number] {
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
}
