{% extends "main.html" %}

{% block page_name %}
About the Pokemon Wiki
{% endblock %}



{% block content %}
<div class="about-section">
    <div class="about">
        <h3>About this Wiki</h3>
        <p>This wiki is for pokemon uploads. Upload your favorite pokemon or create your own and upload it for the world to see!</p>
        <h3>Your Authors</h3>
        <p class="authors">Javier Garcia, Edgar Ochoa Sotelo, Mark Toro</p>
        <div>
            {% for image in images %}
                <img src="data:image/png;base64,{{image}}">
            {% endfor %}
    </div>
</div>
{% endblock %}


