{% extends "main.html" %}

{% block page_name %}
Who's that pokemon?
{% endblock %}

{% block content %}
<div>
    <div class="game_background">
        <img src="data:image/jpg;base64,{{image}}" class="dark">
    
        <div>
            <p>{{data['name']['english']}}</p>
            <p> player: {{current_user.username}} </p>
            <p>score: {{user['points']}} </p>
            <p> rank: {{user['rank']}} </p>
    
        </div>
    </div>
    <div class="game_form">
        <form>
            <input type="text" id="user_guess" name="user_guess">
            <input type="submit" value="Guess">
        </form>
    </div>
</div>


{% endblock %}