{% extends "main.html" %}

{% block page_name %}
Who's that pokemon?
{% endblock %}

{% block content %}
<meta id="user_points" data-name="user_points" data-other="{{user['points']}}">
<div>
    <div class="game_background">
        <div id="score" class="score">score: {{user['points']}} </div>
        <div id="rank" class="rank"> rank: {{user['rank']}} </div>
        <img id="pokemon_image" src="data:image/jpg;base64,{{image}}" class="pokemon_image">

        <div>
            <!--
            <p>{{data['name']['english']}}</p>
            <p> player: {{current_user.username}} </p>
            -->

            
            
    
        </div>
   
        <div>
            <form id="game_form" class="game_form" method="POST" action="/game">
                <input type="hidden" id="username" name="username" value="{{current_user.username}}">
                <input type="hidden" id="data" name="data" value="{{data}}">
                <input type="hidden" id="points" name="points" value="{{user['points']}}">
                <input type="hidden" id="rank" name="rank" value="{{user['rank']}}">
                <input type="hidden" id="user_name" name="user_name" value="{{user['name']}}">
                <input type="text" id="user_guess" name="user_guess" value="Who's that pokemon?" onfocus="this.value=''">
                <input type="image" src="data:image/jpg;base64,{{pokeball}}" alt="Submit" id="pokeball" class="pokeball">

            </form>

    </div>
</div>


<script>
   /* var form = document.getElementById("game_form");
    form.addEventListener("submit", e=> {
        const formData = new FormData();
        var user_points = $('#user_points').data();
        formData.append("score","66666");
        console.log(formData.entries());

        const xhr = new XMLHttpRequest();
        xhr.open('POST','/game',true);
        xhr.send(formData);
    });

 */
    var pokemon_image = document.getElementById('pokemon_image')
    var form = document.getElementById('game_form')
    form.addEventListener("submit", function(e) {
        e.preventDefault()
        //pokemon_image = document.getElementById("pokemon_image") //.css({brightness: 100%},"slow")
        pokemon_image.classList.add('reveal');
        pokemon_image.addEventListener("animationend", () => {
       
         
            form.submit();
        });
       
    })
    
 </script>

{% endblock %}