{% extends "main.html" %}

{% block page_name %}
Leaderboard
{% endblock %}

{% block content %}

<div class="leaderboard">
    <h1>Leaderboard</h1>
    <div class="standings">
        {% for users in leaderboard %}
            {% with user = json.loads(users) %}
                <div class="user">
                {% if user["rank"] %}
                    {{user["rank"]}} {{user["name"]}} {{user["points"]}}
                {% else %}
                    {{user["name"]}} {{user["points"]}}
                {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</div>

{% endblock %}