{% extends "main.html" %}

{% block page_name %}
Leaderboard
{% endblock %}

{% block content %}

<div class="leaderboard">
    <div class="board-name">
        <img src="data:image/png;base64,{{trophy}}">
        <h1>Leaderboard</h1>
        <img src="data:image/png;base64,{{trophy}}">
    </div>

    <div class="standings">
        {% for user in leaderboard %}
        <div class="players {% if user['name'] == curr_user['name']%}current_user{% endif %}">
            {% if user["rank"] == 1 %}
                <p style="color: gold">{{user["rank"]}}</p>
                <p>{{user["name"]}}</p>
                <p>{{user["points"]}}</p>
            {% elif user["rank"] == 2 %}
                <p style="color: silver">{{user["rank"]}}</p>
                <p>{{user["name"]}}</p>
                <p>{{user["points"]}}</p>
            {% elif user["rank"] == 3 %}
                <p style="color: rgb(205, 127, 50)">{{user["rank"]}}</p>
                <p>{{user["name"]}}</p>
                <p>{{user["points"]}}</p>
            {% elif user["rank"] > 3%}
                <p style="color: white">{{user["rank"]}}</p>
                <p>{{user["name"]}}</p>
                <p>{{user["points"]}}</p>
            {% else %}
                <p>-</p>
                <p>{{user["name"]}}</p>
                <p>{{user["points"]}}</p>
            {% endif %}
        </div> 
        {% endfor %}
        
        {% if not user_in_top15 %}
        <div class="players" id="current_user">
            {% if curr_user["rank"] %}
            <p style="color: white">{{curr_user["rank"]}}</p>
                <p>{{curr_user["name"]}}</p>
                <p>{{curr_user["points"]}}</p>
            {% else %}
                <p>-</p>
                <p>{{curr_user["name"]}}</p>
                <p>{{curr_user["points"]}}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}