<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>{% block page_name%} Project 1: Wiki Viewer {% endblock %}</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <!-- Should eventually be replaced with the nav bar -->
    <div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/pages">PAGES</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
        </ul>
    </div>
    <div>     
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %}  

        <h1>Welcome to the pokemon Wiki!</h1>
        <p>This is a minimal implementation of a wiki that allows users to login and upload pages.</p>
        <p>Authors: Javier Garcia, Edgar Ochoa Sotelo, Mark Toro</p>
        {% endblock %}
        
    </div>
</body>

</html>