<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Project 1: Wiki Viewer</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <h1>Project 1: Wiki Viewer</h1>
        <p>This is a minimal implementation of a wiki that allows users to login and upload pages.</p>
        <p>Authors: Javier Garcia, Edgar Ochoa Sotelo, Mark Toro</p>
    </div>
</body>

</html>