{% extends "main.html" %}

{% block page_name %}
Pages directory
{% endblock %}

{% block content %}
<div class="search-filter-container">
    <div class="search">
        <form action="" method="POST">
            <input type="text" placeholder="Search for Pokemon.." name="page-name">
            <input type="submit">
        </form>
    </div>
    <div class="filter">
        Filter
    </div>
</div>
<div class="pages">
    <h3>User Generated Pages</h3>
    <div class="user-pages">
        {% for page in pages %}
            <a href="{{page}}">{{ (page[6:]).capitalize()}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}