{% extends "main.html" %}

{% block page_name %}
Sign up to Pokemon wiki
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="flash">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="account">
    <h1>Sign Up</h1>
    <form method="POST", action="">
        {{form.csrf_token}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
    Already have an account? <a href="{{url_for('login')}}">Login</a>
</div>
{% endblock %}