{% extends "main.html" %}

{% block page_num %}
Upload a Pokemon!
{% endblock %}

{% block content %}
<div>
    <form class="upload-form" method="post" action="/upload" enctype="multipart/form-data">
        <tr>
            <td>Name<input type="text" name="name"></td>
            <td>Hit Points<input type="number" name="hit_points"></td>
            <td>Attack<input type="number" name="attack"></td>
            <td>Defense<input type="number" name="defense"></td>
            <td>Speed<input type="number" name="speed"></td>
            <td>Special Attack<input type="number" name="special_attack"></td>
            <td>Special Defense<input type="number" name="special_defense"></td>
        </tr>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file"></td>

        </tr>
        <tr>
            <td><input type="submit" value="Upload your pokemon!"></td>
        </tr>
    </form>
</div>
{% endblock %}