{% extends "main.html" %}

{% block page_name %}
{{ poke["name"] }}
{% endblock %}


{% block content %}
<div>
    <img src="data:image/{{poke['image_type']}};base64,{{poke['image']}}">
</div>
<div>
    <div>Name: {{ poke["name"] }}</div>
    <div>Type: {{ poke["type"] }}</div>
    <div>Attack: {{ poke["attack"] }}</div>
    <div>Defense: {{ poke["defense"] }}</div>
    <div>Special Attack: {{ poke["special_attack"] }}</div>
    <div>Special Defense: {{ poke["special_defense"] }}</div>   
</div>
{% endblock %}

