{% extends "main.html" %}

{% block page_name %}
{{ poke["name"] }}
{% endblock %}


{% block content %}
<div class="wiki-pages">
    <div class="stats">
        <p>Name: {{ poke["name"] }}</p>
        <p>Type: {{ poke["type"] }}</p>
        <p>Attack: {{ poke["attack"] }}</p>
        <p>Defense: {{ poke["defense"] }}</p>
        <p>Special Attack: {{ poke["special_attack"] }}</p>
        <p>Special Defense: {{ poke["special_defense"] }}</p>  
    </div>
    <div class="user-image">
        <img src="data:image/{{poke['image_type']}};base64,{{poke['image']}}">
    </div>
</div>
{% endblock %}

