{% extends "main.html" %}

{% block page_name %}
{{ pokemon["name"] }}
{% endblock %}


{% block content %}
<div class="wiki-pages">
    <div class="statistics">
        <p>Name: {{ pokemon["name"].capitalize() }}</p>
        <p>Type: {{ pokemon["type"] }}</p>
        <p>Region: {{ pokemon["region"] }}</p>
        <p>Nature: {{ pokemon["nature"] }}</p>   
        <p>Level: {{ pokemon["level"] }}</p>    
    </div>
    <div class="user-image">
        <img src="data:image/{{pokemon['image-type']}};base64,{{image}}" style="height: 400px; width: auto;">
    </div>
</div>
{% endblock %}

